*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color:blue ; */
    height: 100vh;
    width: 100wh;
    
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    /* overflow: hidden; */
}

.header{
  
    width: 100%;
    height: 12vh;
    /* background-color: yellow; */
    box-shadow: 1px 1px 6px 1px rgba(162, 164, 167, 0.533);
}

.logo img{
  /* background-color: chartreuse; */
  height: 40px;
  width: 80px;
  margin-left: 10px;
 margin-right: 10px;
}

ul{
    display: flex;
    list-style: none;
    /* background-color: blueviolet; */
    width: 400px;
    margin-left: 20px;
    justify-content: center;
    
}

ul li{
    padding: 12px;
    /* background-color: aqua; */
    justify-content: center;
 }
 .nav{
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
 }

.search{
    width: 900px;
    border-radius: 30px;
    border: 1px black solid ;
    padding: 17px;
    justify-content: center;
    /* background-color: black; */
    margin-left: 20px;
    
}

.search input{
    width: 500px;
    border: none;
    outline: none;
    
}
.container{
    background-color: rgb(235, 237, 243);
}

.btn-box{
    height: 40px;
    width: 200px;
    margin-right: 30px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    margin-left:20px ;
}

.btn{
    height: 40px;
    width: 85px;
    margin-right: 10px;
    background-color: transparent;
    font-weight: bold;
    border: 1px solid black;
}
.btn2{
    background-color: black;
    color: white;
}
.container{
    /* background-color: orange; */
    /* padding: 100px; */
    height: 90vh;
  margin: 30px;
    display: flex;

    
    
    
}
.container .left-div{
    height: 80vh;
    /* background-color: chartreuse; */
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 2px;
    /* background-color: blueviolet; */
    padding-left: 50px;
}

.container .left-div img{
    height: 80px;
    width: 400px;
    /* padding-left:  50px; */
}

.container .righ-div{
    height: 80vh;
    /* background-color: orchid; */
    display: flex;
    width: 50%;
    padding: 2px;
    padding-right: 50px;
}
.container .left-div p{
   padding-left: 6px;
   padding-bottom: 20px;
}
.btn3{
    /* padding-left: 50px; */
    font-weight: bold;
    color: white;
    background-color: black;
    width: 85px;
   
}

.prof img{
    height: 33px;
    width: 40px;
    margin-left: 20px;
    
}

.section-one{
    /* height: 60vh; */

    /* background-color: yellow; */

    /* width: 80%; */

    margin: 30px;
    padding: 30px;
}

.section-one .section-p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.section-one .cource{
    font-weight: 700;

    margin-bottom: 15px;

}

.section-one .cource span{
    padding-right: 17px;
}

.section-one .cource-div {

    border: 1px solid grey;
    padding: 30px;
}

.section-one .cource-div p{

    margin-top: 10px;
    margin-bottom: 15px;
    width: 60%;
}

.section-one .cource-div .btn-p{
    width: 125px;

    margin-bottom: 25px;
}

.section-one .cource-div .cart{
    display: flex;
    justify-content: space-between;
}

.section-one .cource-div .cart .cart-one{

    height: 235px;
    width: 240px;
    background-color: red;
}
.section-one .cource-div .cart .cart-two{

    height: 235px;
    width: 240px;
    background-color: blue;
}

.section-one .cource-div .cart .cart-three{

    height: 235px;
    width: 240px;
    background-color: green;
}

.section-one .cource-div .cart .cart-four{

    height: 235px;
    width: 240px;
    background-color: violet;
}

.section-one .cource-div .cart .cart-five{

    height: 235px;
    width: 240px;
    background-color: paleturquoise;
}
.section-one .cource-div .cart .cart-one .rating .checked{
    /* background-color: orange; */
    color: orange;
    border: orange;
    background: transparent;
}




/* ---------------------------------------------------- */
.footer{
    width: 100%;
    height:55%;
    color: #fff;
    /* background-color: rgb(35, 33, 33); */
    background-color: rgba(23, 22, 20, 0.963);
    /* position: fixed; */
    left: 0;
    bottom: 0;
    /* width: 100%; */
    /* margin: 30px; */
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #3e4143;
}

.footer .left{
    margin-top:30px ;
    margin-left: 40px;
    height: 200px;
    width: 700px;
    /* background-color: yellow; */
    display: flex;
    /* flex-direction: horizontal; */
    justify-content: space-between;
}

.footer .right{
    margin-top: 30px;
    margin-right: 40px;
    padding-left: 400px;
    height: 200px;
    width: 550px;
    /* background-color: yellow; */
   
}

.footer .left .one{
    height: 180px;
    width: 150px;
    /* background-color: red; */
    list-style: none;
    /* padding-bottom: 20px; */
}
.one li{
    padding: 6px;
}

.footer .left .two{
    height: 180px;
    width: 150px;
    /* background-color: green; */
    list-style: none;
    /* padding-bottom: 20px; */
}
.two li{
    padding: 6px;
}

.footer .left .three{
    height: 180px;
    width: 180px;
    /* background-color: blue; */
    list-style: none;
    /* padding-bottom: 20px; */
}
.three li{
    padding: 6px;
}

/* .footer .left .logo-one{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: blue;
} */
.footer .left .logo-one img{

    height: 50px;
    width: 130px;
    margin-left: -3px;
    margin-top: 60px;
    /* margin-right: 10px; */
}

.footer .right label{

    border: 2px solid white;
    /* background-color: green; */
    height: 40px;
    width: 120px;
    margin-right: 30px;
    padding-right: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30vh;
    

}
.footer .right label:hover{
    background-color: rgba(29, 28, 26, 0.963);
}




.footer .right label img{

    height: 20px;
    width: 20px;
    /* padding-right: 12px; */
    margin-right: 12px;

    /* padding: 5px; */   

}
